# Module 12 Challenge

### Deliverable 2: Scrape and Analyze Mars Weather Data

In [1]:
# Import relevant libraries
from splinter import Browser
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Set up Splinter
browser = Browser('chrome')

#### Step 1: Visit the news site
Use automated browser to visit the Mars temperature data site and inspect the page to identify which elements to scrape.

In [3]:
# Visit the weather website
url = "https://static.bc-edx.com/data/web/mars_facts/temperature.html"
browser.visit(url)

#### Step 2: Scrape the table

Create a Beautiful Soup object and use it to scrape the data in the HTML table.

In [4]:
# Parse the website
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [5]:
# Find the table
table = soup.find('table', class_="table")

# Store the rows of data
table_body = table.find('tbody')

#### Step 3: Store the Data

Assemble the scraped data into a Pandas DataFrame with column headings matching those on the website.

In [6]:
# Create list of headings
headings = table_body.find_all('th')
heading_list = []
for th in headings:
    heading_list.append(th.get_text().strip())

In [7]:
# Store all data rows
rows = table_body.find_all('tr', class_='data-row')

# Create list of list of data rows
data = []

for row in rows:
    data_list = []
    row_data = row.find_all('td')
    for td in row_data:
        data_list.append(td.text)
    data.append(data_list)

In [8]:
# Create a Pandas DataFrame using list of data and list of headings
mars_df = pd.DataFrame(data, columns = heading_list)

# Confirm DataFrame was created successfully
mars_df.head()

   id terrestrial_date sol   ls month min_temp pressure
0   2       2012-08-16  10  155     6    -75.0    739.0
1  13       2012-08-17  11  156     6    -76.0    740.0
2  24       2012-08-18  12  156     6    -76.0    741.0
3  35       2012-08-19  13  157     6    -74.0    732.0
4  46       2012-08-20  14  157     6    -74.0    740.0

In [9]:
# Close the browser
browser.quit()

#### Step 4: Prepare the data for analysis

Examine the data types that are currently associated with each column. Cast the data to the appropriate `datetime`, `int`, or `float` data types.

In [ ]:
mars_df.info()

# Everything is an object.

In [ ]:
# Change id to integer
mars_df["id"] = mars_df["id"].astype(int)

# Change date to datatime
mars_df["terrestrial_date"] = pd.to_datetime(mars_df["terrestrial_date"])

# Change sol(martian day) to integer
mars_df["sol"] = mars_df["sol"].astype(int)

# change ls(solar longitude) to integer
mars_df["ls"] = mars_df["ls"].astype(int)

# Change month (Martian month) to integer
mars_df["month"] = mars_df["month"].astype(int)

# Change min_temp to float
mars_df["min_temp"] = mars_df["min_temp"].astype(float)

# Change pressure to float
mars_df["pressure"] = mars_df["pressure"].astype(float)

In [17]:
# Check datatypes to ensure everything is correct
mars_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1867 entries, 0 to 1866
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                1867 non-null   int64
 1   terrestrial_date  1867 non-null   datetime64[ns]
 2   sol               1867 non-null   int64
 3   ls                1867 non-null   int64
 4   month             1867 non-null   int64
 5   min_temp          1867 non-null   float64
 6   pressure          1867 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(4)
memory usage: 102.2 KB

#### Step 5: Analyze the Data

Use the dataset to answer the following questions: 

1. How many months exist on Mars?
2. How many Martian (and not Earth) days worth of data exist in the scraped dataset?
3. What are the coldest and the warmest months on Mars (at the location of Curiosity)? To answer this question:
    * Find the average the minimum daily temperature for all of the months.
    * Plot the results as a bar chart.
4. Which months have the lowest and the highest atmospheric pressure on Mars? To answer this question:
    * Find the average the daily atmospheric pressure of all the months.
    * Plot the results as a bar chart.
5. About how many terrestrial (Earth) days exist in a Martian year? To answer this question:
    * Consider how many days elapse on Earth in the time that Mars circles the Sun once.
    * Visually estimate the result by plotting the daily minimum temperature.